---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="New Index">
  <main>
    <h1>Community Clean-Up Event</h1>
    <h2>North Fork Area</h2>
    <p>
      Join us in making our neighborhood cleaner and greener! Our community
      clean-up event brings residents together to pick up trash along the
      roadways, promoting a cleaner environment and a stronger sense of
      community.
    </p>
    <Button
      btnText="Sign Up"
      href="#"
      type="primary"
    />
    <p>Add map with event area</p>
  </main>
  <section class="about">
    <h2>About the event and KLB</h2>
  </section>
  <section class="signup">
    <h2>Sign Up to Join Us</h2>
  </section>
  <section class="contact">
    <h2>Contact me with any questions.</h2>
    <p>northfork.klb@gmail.com</p>
  </section>
</Layout>

<style></style>
