---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import Signup from "../components/Signup.astro";
---

<Layout title="New Index">
  <Hero />
  <p>Add map with event area</p>
  <section class="about">
    <h2 id="about">About the event and KLB</h2>
  </section>
  <Signup />
  <section
    class="contact"
    id="contact"
  >
    <h2>Contact me with any questions.</h2>
    <a href="mailto:northfork.klb@gmail.com">Send me a message.</a>
  </section>
</Layout>

<style></style>
