---
import Layout from "../layouts/Layout.astro";
---

<!-- 
Formspree link for sign-up form
https://formspree.io/f/mnqkvbnb 

modify this form HTML and place wherever you want your form 
-->
<Layout title="KLB-Cleanup Signup">
  <section class="signup" id="signup">
    <h2>Sign Up to Join Us</h2>
    <p>
      You don't need to sign up. You can just drop in the day of the event, but
      if you would like to receive updates in case there are changes to the date
      or time please provide your email address and I'll send any updates to the
      event.
    </p>
    <p>
      <b>All fields are optional.</b> If you don't want updates but still want
      to sign up, leave the email field empty. If you provide your email I'll
      assume you are okay with me sending you updates.
    </p>
    <p>
      I will NOT use your email for anything except this and future neighborhood
      clean-up events. I plan on not more than two events per year: spring and
      fall.
    </p>

    <form
      id="fs-frm"
      name="registration-form"
      accept-charset="utf-8"
      action="https://formspree.io/f/mnqkvbnb "
      method="post"
    >
      <fieldset id="fs-frm-inputs">
        <label for="full-name">Full Name</label>
        <input
          type="text"
          name="name"
          id="full-name"
          placeholder="First and Last"
          required=""
        />
        <label for="email-address">Email Address</label>
        <input
          type="email"
          name="_replyto"
          id="email-address"
          placeholder="email@domain.tld"
          required=""
        />
        <label for="street-address">Street Address</label>
        <input
          type="text"
          name="street"
          id="street-address"
          placeholder="Street"
          required=""
        />
        <fieldset class="locale">
          <legend>Locale</legend>
          <input type="text" name="city" placeholder="City" required="" />
          <select name="state" required="">
            <option value="" selected="" disabled="">State</option>
            <option value="DC">District Of Columbia</option>
            <option value="MD">Maryland</option>
            <option value="VA">Virginia</option>
            <option value="WV">West Virginia</option>
          </select>
          <input
            type="text"
            name="postal-code"
            placeholder="12345"
            required=""
          />
        </fieldset>
        <label for="note">Note</label>
        <textarea
          rows="2"
          name="note"
          id="note"
          placeholder="Include any additional information"></textarea>
        <input
          type="hidden"
          name="_subject"
          id="email-subject"
          value="KLB Cleanup Signup Submission"
        />
      </fieldset>
      <input class="formbtn" type="submit" value="Signup" />
    </form>
  </section>
</Layout>

<style>
  /* reset */
  form input,
  form select,
  form textarea,
  form fieldset,
  form optgroup,
  form label {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  form label,
  form legend {
    font-size: 0.825rem;
    margin-bottom: 0.5rem;
  }
  /* border, padding, margin, width */
  form input,
  form select,
  form textarea,
  .StripeElement {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1rem;
    margin-bottom: 1.5rem;
  }
  form input:focus,
  form select:focus,
  form textarea:focus,
  .StripeElement:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }
  form [type="text"],
  form [type="email"],
  .StripeElement {
    width: 100%;
  }
  form [type="button"],
  form [type="submit"],
  form [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  form [type="button"]:focus,
  form [type="submit"]:focus,
  form [type="reset"]:focus {
    outline: none;
  }

  form select {
    text-transform: none;
  }

  form .formbtn {
    border: 0;
    line-height: 1.2;
    padding: 5px 20px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--accent-dark);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  form .formbtn:hover {
    background-color: var(--accent);
  }

  form .formbutton:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  /* Mobile Styling */
  @media (max-width: 48em) {
    .styled {
      font-size: 1rem;
      line-height: 1.1;
    }
  }
</style>
