---
const { btnText = "Click Me", href = "#", type = "default" } = Astro.props;
---

<a class=`styled ${type}` href={href}>{btnText}</a>

<style>
  /* .primary {
    color: var(--primary);
    background-color: var(--accent);
  }

  .default {
    background-color: green;
  } */

  .styled {
    display: inline-block;
    border: 0;
    line-height: 1.2;
    padding: 5px 20px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--accent-dark);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

  .styled.secondary {
    background-color: var(--secondary);
  }

  .styled:hover {
    background-color: var(--accent);
  }

  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  /* Mobile Styling */
  @media (max-width: 48em) {
    .styled {
      font-size: 1rem;
      line-height: 1.1;
    }
  }
</style>
