---
import { Image } from "astro:assets";
import logo from "../assets/images/klblogo.png";
import Button from "../components/Button.astro";
---

<header class="header">
  <a class="logo" href="/">
    <Image src={logo} alt="KLB Logo" width={150} height={90} />
  </a>
  <div class="nav">
    <div class="control">
      <input class="menu-btn" type="checkbox" id="menu-button" />
      <label class="menu-icon" for="menu-button">
        <span class="nav-icon"></span>
      </label>
      <div class="menu">
        <ul class="menu-items" aria-label="Main Navigation" id="menu-items">
          <li><a href="/#about">Event Details</a></li>
          <li><a href="/#area">Area</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><Button type="primary" btnText="Sign Up" href="/Signup" /></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
  }

  .menu {
    /* display: none; */
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-out;
  }
  .menu-items {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    list-style: none;
    line-height: 1.7em;
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  .menu-items a:hover {
    font-weight: 600;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    padding: 20px;
  }

  /* Hamburger */
  .nav-icon {
    display: inline-block;
    position: relative;
    background: var(--primary);
    height: 2px;
    width: 18px;
    transition: background 0.2s ease-out;
  }

  .nav-icon:before,
  .nav-icon:after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: var(--primary);
    transition: all 0.5s ease-out;
  }

  .nav-icon:before {
    top: -5px;
  }

  .nav-icon:after {
    top: 5px;
  }

  /* Menu Button Action*/
  .menu-btn:checked ~ .menu {
    display: inline-block;
    position: relative;
    overflow: auto;
  }

  .menu-btn:checked ~ .menu .menu-items {
    position: relative;
    opacity: 1;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon {
    background: white;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Set up for Non-mobile */
  @media (min-width: 48em) {
    .menu-icon {
      display: none;
    }
    .menu {
      display: inline-block;
    }
    .menu-items {
      flex-direction: row;
      gap: 1.3em;
      position: relative;
      opacity: 1;
    }
  }
</style>
