---
import { Image } from "astro:assets";
import HeroImage from "../assets/images/HeroImage.jpg";
import Button from "../components/Button.astro";
---

<section class="hero">
  <h1 class="postphoned">Postphoned - New Date TBD</h1>
  <h1>North Fork Area</h1>
  <h2 class="subtitle">
    <em>Community Clean-Up Event - October 21st</em>
  </h2>
  <div class="heroimage">
    <Image
      src={HeroImage}
      width={500}
      height={125}
      alt="Image of a cleanup happening"
    />
  </div>
  <p>
    Join us in making our neighborhood cleaner and greener! Our community
    clean-up event brings residents together to pick up trash along the
    roadways, promoting a cleaner environment and a stronger sense of community.
  </p>
  <Button btnText="Sign Up" href="/KLB-NorthFork/Signup" type="primary" />
</section>

<style>
  .heroimage {
    margin: 10px;
    text-align: center;
  }

  .hero em {
    text-decoration: line-through;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 5px;
  }
  .subtitle {
    margin-top: 0;
  }

  .postphoned {
    font-size: xx-large;
    color: rgb(4, 164, 4);
  }
</style>
