---

---

<section
  class="signup"
  id="signup"
>
  <h2>Sign Up to Join Us</h2>
  <p>
    You don't need to sign up. You can just drop in the day of the event, but if
    you would like to receive updates in case there are changes to the date or
    time please provide your phone or email address and I'll send email or text
    messages with any updates.
  </p>
  <p>
    You can also opt into receiving future event notices. I will NOT use your
    email or phone number for anything except for future neighborhood clean-up
    events and don't plan more than one or two events per year.
  </p>
  <!-- 
			Formspree link for sign-up form
			https://formspree.io/f/mnqkvbnb 
-->

  <!-- modify this form HTML and place wherever you want your form -->
  <form
    action="https://formspree.io/f/mnqkvbnb"
    method="POST"
  >
    <label>
      Your name
      <input type="text" />
    </label>
    <label>
      Your email:
      <input
        type="email"
        name="email"
      />
    </label>
    <label>
      Your Phone:
      <input
        type="tel"
        name="phone"
      />
    </label>
    <label>
      Address
      <input
        type="text"
        name="address"
      />
    </label>
  </form>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</section>
